@model viewmodel_fun.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is a User!</h1>
    <h1>@Model.FirstName @Model.LastName</h1>
</div>
